@media screen and (max-width: 700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        font-size: 12px;
        margin-top: 5px;
        width: 250px;
    }

    header nav {
        margin-right: 0px;
    }

    header .Logo {
        margin-right: 0px;
    }

    .filme-principal .descricao {
        font-size: 18px;
    }

    .titulo {
        font-size: 35px;
    }
}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 50%;
    }
}
